<%= form_with model: @article do |form| %>
    <div>
        <%= form.label :article_title %><br>
        <%= form.text_field :article_title%>
        <% @article.errors.full_messages_for(:article_title).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div>
        <%= form.label :body %><br>
        <%= form.text_area :body %>
        <% @article.errors.full_messages_for(:body).each do |message| %>
        <div><%= message %></div>
        <% end %>
    </div>
    <div>
    <%= form.submit%>
    </div>
<%end%>