<h1>Signup </h1>
<%= form_with model: @user do |form| %>
    <% if flash[:error].present? %>
        <div class="error"><%= flash[:error] %></div>
    <% end %>
    <div>
        <%= form.label :name %><br>
        <%= form.text_field :name%>
    </div>
    <div>
        <%= form.label :email %><br>
        <%= form.text_area :email %>
    </div>
    <div>
        <%= form.label :password %><br>
        <%= form.text_area :password %>
    </div>
    <div>
        <%= form.label :confirm_password %><br>
        <%= form.text_area :confirm_password %>
    </div>
    <div>
        <%= form.submit%>
    </div>
<%end%>